@model mvcTesting.Models.mvcTestingModel

@{
    ViewBag.Title = "forgotpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="../../Content/themes/base/images/forgot.jpg" alt="Login here." height="16%" width="16%" />
<h3>Please provide details to change password:</h3>
<html>
<head>
<title></title>
<script type="text/javascript" language="javascript">
    function CancelChangePassword() {
        location.replace('/Home/About');
        return false;
    }
    function SuccessfulChange() {
        var UserName = document.getElementById('UserName').value;
        var EMail = document.getElementById('EMail').value;
        var NewPass = document.getElementById('NewPass').value;
        var ConfirmPass = document.getElementById('ConfirmPass').value;
        var emailPattern = "[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}"
        if ((UserName != '') && (EMail != '') && (NewPass != '') && (ConfirmPass != '')) {
            var match = EMail.search(emailPattern)
            if (match != -1) {
                if (NewPass != ConfirmPass) {
                    alert('New passwrd and confirm password are not matching.');
                    return false;
                }
                return true;
            }
            else {
                alert('E-Mail is incorrect, Please verify it again.');
                document.getElementById('EMail').value = '';
                return false;
            } 
        }
        else {
            alert("All fields are mandatory to change the password");
            location.replace('/Home/forgotpassword');
            return false;
        }
    }
    function PasswordChangeMessage() {
        if ('@ViewData["Success"]' == 'true') {
            alert("Successfully, Password has been changed !");
            location.replace('/Home/About');
        }
        else if ('@ViewData["Success"]' == 'false') {
            alert("User Name or EMail ID is incorrect, Please check and try again.");
            location.replace('/Home/forgotpassword');
        }
    }
</script>
</head>
<body onload="PasswordChangeMessage();">

@using (Html.BeginForm())
{
    <table class="specialBorderLess">
        <tr>
            <td class="specialBorderLess">
                User Name
            </td>
            <td class="specialBorderLess">
                @Html.TextBoxFor(m => m.forgotPassword.UserName, new { @id = "UserName" })
            </td>
        </tr>
        <tr>
            <td class="specialBorderLess">
                E-Mail ID
            </td>
            <td class="specialBorderLess">
                @Html.TextBoxFor(m => m.forgotPassword.EMail, new { @id = "EMail" })
            </td>
        </tr>
        <tr>
            <td class="specialBorderLess">
                New Password
            </td>
            <td class="specialBorderLess">
                @Html.PasswordFor(m => m.forgotPassword.NewPass, new { @id = "NewPass" })
            </td>
        </tr>
        <tr>
            <td class="specialBorderLess">
               Confirm Password
            </td>
            <td class="specialBorderLess">
                @Html.PasswordFor(m => m.forgotPassword.ConfirmPass, new { @id = "ConfirmPass" })
            </td>
        </tr>
        <tr>
            <td class="specialBorderLess">
            </td>
            <td class="specialBorderLess">
                <button id="ChangePass" name="Change Password" onclick="return SuccessfulChange()">Change Password</button>
            </td>
            <td class="specialBorderLess">
                <button id="Cancel" name="Cancel" onclick="return CancelChangePassword()"> Cancel </button>
            </td>
        </tr>
        <tr>
        <td class="specialBorderLess">
            @Html.ActionLink("Back to Login Page","About","Home")
        </td>
        </tr>
    </table>
}
</body>
</html>
